---
layout: default
---

<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
  <a href="https://hits.seeyoufarm.com">
    <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fhyerin6.github.io&count_bg=%23010101&title_bg=%23070707&icon=&icon_color=%23E7E7E7&title=visitors&edge_flat=false"/>
  </a>
</header>

<div class="list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="list-post">
    {% if post.link %}
    <a href="{{ post.link }}">
    {% else %}
    <a href="{{ post.url | prepend: site.baseurl }}">
    {% endif %}  
      <div class="list-post-date">
        <time>{{ post.date | date_to_string }}</time>
      </div>
      <div class="list-post-title">
        {{ post.title }}
      </div>
      {% if post.description %}
      <div class="list-post-desc">
        {{ post.description }}
      </div>
      {% endif %}
    </a>


  </div>
{% endfor %}
  <!-- Pagination links -->
  <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
          &#xE000; previous
        </a>
      {% else %}

      {% endif %}
    </span>

    <span class="list-pagination-next">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
          next &#xE001;
        </a>
      {% else %}

      {% endif %}
    </span>

  </div>
{% endif %}
</div>
